@page "/league-setup"
@using GridironFrontOffice.Application
@using GridironFrontOffice.UI.Services
@using System.Dynamic
@implements IDisposable

@inject INavigationService NavigationService
@inject ILeagueWizardService LeagueWizardService

<MudContainer MaxWidth="MaxWidth.Medium" Class="ma-auto">
	<MudStack Row="true" AlignItems="AlignItems.Center" JustifyContent="Center">
		<MudIcon Icon="@Icons.Material.Filled.SportsFootball" Size="Size.Large" Color="Color.Primary" />
		<MudText Typo="Typo.h3" Class="mt-3 mb-3">New Game</MudText>

		<MudSpacer />

		<MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" Tooltip="Close League Setup"
									 OnClick="NavigateToHome" />
	</MudStack>

	<MudStepper @bind-ActiveIndex="_activeStep">
		<ChildContent>

			<MudStep Label="Data Configuration" Completed="LeagueWizardService.CompletedSteps.Contains(0)">
				<MudPaper Class="pa-4">
					<LeagueWizardData />
				</MudPaper>
			</MudStep>
			<MudStep Label="League Settings" Completed="LeagueWizardService.CompletedSteps.Contains(1)">
				<MudPaper Class="pa-4">
					<LeagueWizardSettings />
				</MudPaper>
			</MudStep>
			<MudStep Label="Team Selection" Completed="LeagueWizardService.CompletedSteps.Contains(2)">
				<MudPaper Class="pa-4">
					<LeagueWizardTeams />
				</MudPaper>

			</MudStep>
		</ChildContent>
		<ActionContent>
			<MudStack Row="true" Justify="_activeStep == 2 ? Justify.FlexEnd : Justify.SpaceBetween" Class="ma-4 w-100"
								Style="width: 100%;">
				@if (_activeStep == 2)
				{
					<MudButton Variant="Variant.Text" OnClick="LeagueWizardService.GoToPreviousStep"
										 Disabled="_isLoading">
						Back
					</MudButton>
				}

				<MudSpacer />

				@if (_activeStep < 2)
				{
					<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => GoToNextStep()"
										 Disabled="!LeagueWizardService.CanProceedToNextStep || _isLoading">
						@if (_isLoading)
						{
							<MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
						}
						else
						{
							<span>Next</span>
						}
					</MudButton>
				}
				else
				{
					<MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="() => GoToNextStep()"
										 Disabled="!LeagueWizardService.CanCreateLeague || _isLoading">Create League</MudButton>
				}
			</MudStack>
		</ActionContent>
	</MudStepper>

</MudContainer>

@code {

	private int _activeStep = 0;
	private bool _isLoading = false;

	protected override void OnInitialized()
	{
		LeagueWizardService.OnChange += UpdateActiveStep;
		_activeStep = LeagueWizardService.CurrentStep;
	}

	private async void UpdateActiveStep()
	{
		await InvokeAsync(() =>
		{
			_activeStep = LeagueWizardService.CurrentStep;
			_isLoading = LeagueWizardService.LoadingLeague;
			StateHasChanged();
		});
	}

	public void Dispose()
	{
		LeagueWizardService.OnChange -= UpdateActiveStep;
	}

	void NavigateToHome()
	{
		NavigationService.NavigateTo("/");
	}

	async Task GoToNextStep()
	{
		await LeagueWizardService.GoToNextStepAsync();
	}
}