@page "/schedule"
@layout AppLayout
@using GridironFrontOffice.Framework

@inject AppState AppState
@inject ITeamService TeamService
@inject IScheduleService ScheduleService

<div class="flex items-center justify-between mb-6">
	<h2 class="text-2xl font-bold text-frost">Schedule</h2>

	<AppSelect TValue="int" Value="selectedTeamID" ValueChanged="OnTeamChanged" Label="Select Team" Class="w-64">
		@foreach (var team in teams)
		{
			<option value="@team.ID">@team.DisplayName</option>
		}
	</AppSelect>
</div>

<div class="flex flex-col gap-4">

	@if (schedule == null || !schedule.Any()) 
	{
			<p class="text-muted">No schedule available for the selected team.</p>
	}
	else
	{
		@foreach (var week in weeks)
		{
			var game = schedule.FirstOrDefault(g => g.WeekID == week.ID);
			var isByeWeek = game == null;
			var opponentTeam = game?.HomeTeamID == selectedTeamID ? game.AwayTeam : game?.HomeTeam;

			@if (isByeWeek)
			{
				<div class="p-4 border-2 flex items-center gap-4 rounded-xl h-16">
					<div> 
						<span>Week</span>
						<span class="font-bold text-lg">@week.WeekNumber.ToString("D2")</span>
					</div>
					<AppDivider Vertical="true" />
					<div class="flex items-center gap-2">
						<div class="text-sm text-muted">Bye Week</div>
					</div>
				</div>
			}
			else
			{
			<div class="pa-4 border-2 flex items-center gap-4 rounded-xl h-16">
				<div> 
					<span>Week</span>
					<span class="font-bold text-lg">@week.WeekNumber.ToString("D2")</span>
				</div>
				<AppDivider Vertical="true" />
				<div class="flex items-center gap-2">
					<AppAvatar Size="md" Style="@opponentTeam?.GetTeamAvatarStyle()" Bordered="true">
						@opponentTeam?.Abbreviation
					</AppAvatar>
					<div>
						<div class="text-sm text-muted">vs @opponentTeam?.DisplayName</div>
						<div class="font-bold">@game?.GameDateTime.ToString("dddd, h:mm tt")</div>
					</div>
				</div>
			</div>
			}
		}

	}
</div>


    @code {

    private int selectedTeamID;
    private IEnumerable<Team> teams;
    private IEnumerable<Game> schedule;
		private IEnumerable<Week> weeks;
    private Season currentSeason;

    protected override async Task OnInitializedAsync()
    {
        teams = await TeamService.GetAllTeamsAsync();
        currentSeason = AppState.CurrentState.CurrentSeason ?? throw new DomainException("Current season is not set in AppState.");
				selectedTeamID = AppState.CurrentState.UserTeamID ?? teams.FirstOrDefault()?.ID ?? 0;
				weeks = await ScheduleService.GetWeeksForSeason(currentSeason.ID);

				if (selectedTeamID != 0)
				{
						schedule = await ScheduleService.GetScheduleForTeam(currentSeason.ID, selectedTeamID);
				}
    }

    private async Task OnTeamChanged(int teamID)
    {
		selectedTeamID = teamID;
		schedule = await ScheduleService.GetScheduleForTeam(currentSeason.ID, selectedTeamID);

	}
}