@page "/"
@inject INavigationService NavigationService
@inject IDialogService DialogService



<div class="pa-3 ma-auto" style="width: fit-content;">
	<MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center" Justify="Justify.Center">
		<div class="d-flex justify-center mb-4">
			<img src="img/logo.svg" alt="Gridiron Front Office" style="width: 100px; height: 100px;" />
		</div>

		<MudText Typo="Typo.h3" Color="Color.Primary" Align="Align.Center">Gridiron Front Office
		</MudText>
	</MudStack>



	<MudText Typo="Typo.h5" Style="max-width: 650px;" Align="Align.Center">Command your franchise with precision analytics
		and high-stakes executive decision-making.
	</MudText>

	<MudStack Spacing="3" Class="mt-6" AlignItems="AlignItems.Center" Justify="Justify.Center">
		<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => NavigateTo("/create-league"))"
							 Style="width: 200px;">
			Create
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="OpenLoadDialog" Style="width: 200px;">
			Load
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="@(() => NavigateTo("/settings"))"
							 Style="width: 200px;">
			Settings
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Error" Style="width: 200px;">
			Quit
		</MudButton>
	</MudStack>
</div>

@code {
	void NavigateTo(string route)
	{
		NavigationService.NavigateTo(route);
	}

	async Task OpenLoadDialog()
	{
		await DialogService.ShowAsync<LoadLeagueDialog>("Load League");
	}
}