@page "/"
@inject INavigationService NavigationService

<MudPaper Class="ma-auto pa-6" Style="max-width: 500px">
	<MudText Typo="Typo.h3" Align="Align.Center" Class="mt-6">Welcome to Gridiron Front Office</MudText>
	<MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mb-6">Your ultimate football management simulator</MudText>

	<div class="d-flex flex-column align-center mb-6 gap-3">
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigateTo("/league-setup"))"
							 Style="width: 200px;">
			Create
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => NavigateTo("/load-league"))"
							 Style="width: 200px;">
			Load
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="@(() => NavigateTo("/settings"))"
							 Style="width: 200px;">
			Settings
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Error" Style="width: 200px;">
			Quit
		</MudButton>

	</div>
</MudPaper>

@code {

	void NavigateTo(string route)
	{
		NavigationService.NavigateTo(route);
	}
}