@page "/"
@inject INavigationService NavigationService



<div class="pa-3">
	<MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center" JustifyContent="Center">
		<div class="d-flex justify-center mb-4">
			<img src="img/logo.svg" alt="Gridiron Front Office" style="width: 100px; height: 100px;" />
		</div>

		<MudText Typo="Typo.h3" Color="Color.Primary" Align="Align.Center">Gridiron Front Office</MudText>
	</MudStack>



	<MudText Typo="Typo.h5" Align="Align.Center">Command your franchise with precision analytics and
		high-stakes executive decision-making.
	</MudText>

	<MudStack Spacing="3" Class="mt-6">
		<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => NavigateTo("/league-setup"))"
							 Style="width: 200px;">
			Create
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="@(() => NavigateTo("/load-league"))"
							 Style="width: 200px;">
			Load
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="@(() => NavigateTo("/settings"))"
							 Style="width: 200px;">
			Settings
		</MudButton>
		<MudButton Variant="Variant.Outlined" Color="Color.Error" Style="width: 200px;">
			Quit
		</MudButton>
	</MudStack>
</div>

@code {

	void NavigateTo(string route)
	{
		NavigationService.NavigateTo(route);
	}
}