@inject ILeagueWizardService LeagueWizardService


<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="ma-auto">
	<MudText Typo="Typo.h5" Class="mb-3">League Settings</MudText>

	<div class="d-flex flex-column gap-4 border-primary p-3 rounded">
		<MudItem Class="d-flex align-items-center ">
			<MudText Typo="Typo.body1">Injuries Enabled</MudText>

			<MudCheckBox T="bool" @bind-Checked="_injuriesEnabled" @bind-Checked:after="UpdateLeagueWizardService">
			</MudCheckBox>
		</MudItem>

		<MudItem Class="d-flex align-items-center ">
			<MudText Typo="Typo.body1">Number of Playoffs Teams</MudText>

			<MudNumericField T="int" @bind-Value="_numOfPlayoffsTeams" @bind-Value:after="UpdateLeagueWizardService" Min="8">
			</MudNumericField>
		</MudItem>

		<MudItem Class="d-flex align-items-center ">
			<MudText Typo="Typo.body1">Number of Regular Season Games</MudText>

			<MudNumericField T="int" @bind-Value="_numOfRegularSeasonGames" @bind-Value:after="UpdateLeagueWizardService"
											 Min="8"></MudNumericField>
		</MudItem>

		<MudItem Class="d-flex align-items-center ">
			<MudText Typo="Typo.body1">Roster Size</MudText>

			<MudNumericField T="int" @bind-Value="_rosterSize" @bind-Value:after="UpdateLeagueWizardService" Min="8">
			</MudNumericField>
		</MudItem>

		<MudItem Class="d-flex align-items-center ">
			<MudText Typo="Typo.body1">Practice Squad Size</MudText>

			<MudNumericField T="int" @bind-Value="_practiceSquadSize" @bind-Value:after="UpdateLeagueWizardService" Min="8">
			</MudNumericField>
		</MudItem>

		<MudItem Class="d-flex align-items-center ">
			<MudText Typo="Typo.body1">Can be Fired</MudText>

			<MudCheckBox T="bool" @bind-Checked="_canBeFired" @bind-Checked:after="UpdateLeagueWizardService">
			</MudCheckBox>
		</MudItem>

	</div>
</MudContainer>

@code {

	// League Settings with defaults
	private bool _injuriesEnabled = true;
	private int _numOfPlayoffsTeams = 14;
	private int _numOfRegularSeasonGames = 17;
	private int _rosterSize = 53;
	private int _practiceSquadSize = 16;
	private bool _canBeFired = false;

	void UpdateLeagueWizardService()
	{
		LeagueWizardService.UpdateLeagueSettings(
			_injuriesEnabled,
			_numOfPlayoffsTeams,
			_numOfRegularSeasonGames,
			_rosterSize,
			_practiceSquadSize,
			_canBeFired);
	}
}